<div class="container">
	<div class="col-10 offset-1">
		<div class="row">
			<a href="#" class="mt-5">Volver</a>
		</div>
		<div class="row mt-5">
			<h1>Titulo 1</h1>
			<p class="mt-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibu</p>
		</div>
		
    <div class="card mt-4">
			<div class="card-header">
				<span>user1@example.com comento hace alrrededor de 1 hora</span>
			</div>
			<div class="card-body">
				<span>Esto es un comentario</span>
			</div>
		</div>

    <form class="mt-4">
      <div class="form-group">
        <label>Nuevo comentario</label>
        <textarea class="form-control" rows="3"></textarea>
        <button class="btn btn-primary mt-3">Comentar</button>
      </div>
    </form>
	</div>
</div>